<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Фамилия %>
    <%= form.text_field :lastname %>
  </div>

  <div class="field">
    <%= form.label :Имя %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :Адрес %>
    <%= form.text_area :address %>
  </div>

  <div class="field">
    <%= form.label :Телефон %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :Номер_билета %>
    <%= form.text_field :number %>
  </div>

  <div class="field">
    <%= form.label :Номер_библиотеки %>
    <%= form.text_field :building_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
