<h1>Информация наличия книг в библиотеках</h1>

<table>
  <thead>
    <tr>
      <th>Номер библиотеки</th>
      <th>Название</th>

      <th>Номер книги</th>
      <th>Название книги</th>
      <th>Автор</th>
      <th colspan="3"></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <!-- @comments is passed from controller to view -->
    <% @books.each do |book| %>           <!-- for loop -->
      <tr>
        <td><%= book.building.id %></td>         <!--get Post ID using reference -->
        <td><%= book.building.name %></td>      <!--get Post title using ref -->

        <td><%= book.id %></td>              <!--get Comment ID -->
        <td><%= book.name %></td>              <!--get Comment from Comment -->
        <td><%= book.author %></td>

        <td><%= link_to 'Просмотр книги', book %></td>
        <td><%= link_to 'Изменить книгу', edit_book_path(book) %></td>
        <td><%= link_to 'Удалить книгу', book, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
        <td><%= link_to 'Просмотр библиотеки', book.building %></td>
        <td><%= link_to 'Изменить библиотеку', edit_building_path(book.building) %></td>
        <td><%= link_to 'Удалить библиотеку', book.building, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
