<p id="notice"><%= notice %></p>

<h1>Сотрудники</h1>

<table>
  <thead>
    <tr>
      <th>Фамилия</th>
      <th>Имя</th>
      <th>Дата рождения</th>
      <th>Дата принятия</th>
      <th>Должность</th>
      <th>Образование</th>
      <th>Библиотека</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @workers.each do |worker| %>
      <tr>
        <td><%= worker.lastname %></td>
        <td><%= worker.name %></td>
        <td><%= worker.boring %></td>
        <td><%= worker.offer %></td>
        <td><%= worker.lvl %></td>
        <td><%= worker.edu %></td>
        <td><%= worker.building %></td>
        <td><%= link_to 'Просмотр', worker %></td>
        <td><%= link_to 'Изменить', edit_worker_path(worker) %></td>
        <td><%= link_to 'Удалить', worker, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<span style="font-size:160%"><%= link_to 'Добавить нового сотрудника', new_worker_path %></span>
